# 서울시에서 공개한 코로나19 발생동향 분석

* http://www.seoul.go.kr/coronaV/coronaStatus.do

In [1]:
# 팔요한 라이브러리를 불러옵니다.

import pandas as pd

In [3]:
# 크롤링으로 가져올 url 주소를 입력합니다.

url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'http://www.seoul.go.kr/coronaV/coronaStatus.do'

In [4]:
"""
11월 중순 이후 확진자가 증가하면서 데이터 공개 방식이 달라져서 pandas 의 read_html 로는 불러올 수가 없습니다.
기존의 read_html 로는 컬럼명을 불러오고 데이터는 requests 라는 라이브러리를 통해 읽어옵니다.
"""

'\n11월 중순 이후 확진자가 증가하면서 데이터 공개 방식이 달라져서 pandas 의 read_html 로는 불러올 수가 없습니다.\n기존의 read_html 로는 컬럼명을 불러오고 데이터는 requests 라는 라이브러리를 통해 읽어옵니다.\n'

In [5]:
# 판다스의 read_html 을 통해 위 url에 있는 table 불러옵니다.

table = pd.read_html(url)

In [6]:
len(table)

6

In [7]:
# read_html 은 사이트 내의 html 태그를 불러옵니다.

table[0]

   종로구   중구   용산구  성동구  광진구  동대문구   중랑구   성북구  강북구   도봉구   노원구  은평구  서대문구
0  520  384   551  608  606   919  1053  1052  655   761  1058  990   678
1   +1   +3    +9   +7   +5    +4   +17    +7   +6    +4    +8   +4    +6
2  마포구  양천구   강서구  구로구  금천구  영등포구   동작구   관악구  서초구   강남구   송파구  강동구    기타
3  865  910  1573  801  405   902  1029  1211  985  1181  1390  767  3026
4   +1   +1    +4   +2   +3    +2    +4    +4   +4    +2    +1   +1   +16

In [8]:
# table 변수 안에 있는 table 태그의 값을 하나씩 읽어보며 확진자 목록이 있는 테이블을 가져옵니다.

table[1]

     종로구    중구   용산구   성동구   광진구  동대문구
0    520   384   551   608   606   919
1     +1    +3    +9    +7    +5    +4
2    중랑구   성북구   강북구   도봉구   노원구   은평구
3   1053  1052   655   761  1058   990
4    +17    +7    +6    +4    +8    +4
5   서대문구   마포구   양천구   강서구   구로구   금천구
6    678   865   910  1573   801   405
7     +6    +1    +1    +4    +2    +3
8   영등포구   동작구   관악구   서초구   강남구   송파구
9    902  1029  1211   985  1181  1390
10    +2    +4    +4    +4    +2    +1
11   강동구    기타   NaN   NaN   NaN   NaN
12   767  3026   NaN   NaN   NaN   NaN
13    +1   +16   NaN   NaN   NaN   NaN

In [9]:
# 미리보기 합니다.

df = table[3]
df.head()

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

# 11월 중순 이후 데이터 공개방식 변경

In [10]:
import requests

In [11]:
# f-string

url = "https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=1"
# url = f"{url}&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc
url = f"{url}&start=0&length=100"
# url"&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1612502263512"
url

'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=1&start=0&length=100'

In [15]:
response = requests.get(url)
data_json = response.json()
#pd.DataFrame(data_json["data"])

In [16]:
records_total = data_json['recordsTotal']
records_total

14880

In [19]:
end_page = round(records_total / 100) + 1
end_page

150

In [21]:
data = data_json["data"]

In [22]:
pd.DataFrame(data)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>24880</p>,80045,2021-02-03,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>24879</p>,79937,2021-02-04,동작구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>24878</p>,80125,2021-02-04,동대문구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>24877</p>,80120,2021-02-04,광진구,-,기타 확진자 접촉,<b class=''></b>
4,<p class='corona19_no'>24876</p>,80129,2021-02-04,광진구,-,감염경로 조사중,<b class=''></b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>24785</p>,79953,2021-02-04,타시도,-,감염경로 조사중,<b class='status2'></b>
96,<p class='corona19_no'>24784</p>,79791,2021-02-04,관악구,-,감염경로 조사중,<b class='status2'></b>
97,<p class='corona19_no'>24783</p>,79793,2021-02-04,관악구,-,감염경로 조사중,<b class='status2'></b>
98,<p class='corona19_no'>24782</p>,79872,2021-02-04,강북구,-,중구 소재 콜센터4 관련,<b class='status2'></b>
99,<p class='corona19_no'>24781</p>,78128,2021-02-04,강북구,-,기타 확진자 접촉,<b class='status2'></b>

# 함수로 만들기

In [25]:
def get_seoul_covid19_100(page_no):
    """
    page_no : 입력값으로 페이지 번호를 입력하면 해당 번호의 데이터를 가져옴
    start_no : 입력받은 page_no로
    """
    start_no = (page_no - 1) * 100
    url = f"https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw={page_no}"
    url = f"{url}&order%5B0%5D%5Bdir%5D=desc&start={start_no}&length=100"
    response = requests.get(url)
    data_json = response.json()
    return data_json

In [27]:
# 데이터가 있을 때
#get_seoul_covid19_100(1)

In [28]:
# 데이터가 없을 때
get_seoul_covid19_100(-1)

{'draw': -1, 'recordsTotal': 14880, 'recordsFiltered': 14880, 'data': []}

# 전체 데이터 가져오기

## tqdm
* [tqdm documentation](https://tqdm.github.io/)
* 오래 걸리는 작업의 진행상태를 표시해 줍니다.
* 별도의 설치가 필요 합니다.
* !pip install tqdm 으로 설치가 필요합니다.

In [29]:
# !pip install tqdm

In [30]:
# time.sleep 으로 시차를 두기 위해
import time
# tqdm : 진행상태를 표시하기 위해
from tqdm import trange

In [36]:
# for page_no in trange(1, 10):
#    print(page_no)

In [38]:
# page_list = []
# for page_no in trange(1, 5):
#     one_page = get_seoul_covid19_100(page_no)
#     one_page = pd.DataFrame(one_page["data"])
#     page_list.append(one_page)
#     time.sleep(0.5)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:01<00:00,  3.80it/s]

In [39]:
# pd.concat(page_list)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>24880</p>,80045,2021-02-03,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>24879</p>,79937,2021-02-04,동작구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>24878</p>,80125,2021-02-04,동대문구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>24877</p>,80120,2021-02-04,광진구,-,기타 확진자 접촉,<b class=''></b>
4,<p class='corona19_no'>24876</p>,80129,2021-02-04,광진구,-,감염경로 조사중,<b class=''></b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>24485</p>,79046,2021-02-02,송파구,-,기타 확진자 접촉,<b class=''></b>
96,<p class='corona19_no'>24484</p>,79089,2021-02-02,구로구,-,감염경로 조사중,<b class=''></b>
97,<p class='corona19_no'>24483</p>,79053,2021-02-02,중구,-,관악구 소재 의료기관 관련,<b class=''></b>
98,<p class='corona19_no'>24482</p>,79050,2021-02-02,중구,-,관악구 소재 의료기관 관련,<b class=''></b>
99,<p class='corona19_no'>24481</p>,78935,2021-02-02,송파구,-,타시도 확진자 접촉,<b class=''></b>

In [45]:
# 전체 페이지를 가져오기 전에 일부 페이지만 실행
page_list = []
# 데이터가 제대로 로드 되는지 앞부분 3페이지 정도만 확인하고 전체페이지를 가져오록 합니다.
# 처음부터 전체 페이지를 수집하면 중간에 오류가 나도 찾기가 어렵습니다.
# 일부만 우선 가져와 보고 잘 동작한다면 전체를 가져오도록 합니다.
all_page = 3
for page_no in trange(all_page + 1):
    one_page = get_seoul_covid19_100(page_no)
    one_page = pd.DataFrame(one_page["data"])
    page_list.append(one_page)
    # 서버에 한번에 너무 많은요청을 보내면 서버에 부담이 됩니다.
    # 서버에 부담을 주지 않기 위애 0.5초씩 쉬었다 가져옵니다.
    time.sleep(0.5)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:03<00:00,  1.28it/s]

In [47]:
# 가져온 데이터가 맞는지 확인, 너무 많을 수 있기 때문에 슬라이싱으로 잘라서 보기
pd.concat(page_list)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>24880</p>,80045,2021-02-03,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>24879</p>,79937,2021-02-04,동작구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>24878</p>,80125,2021-02-04,동대문구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>24877</p>,80120,2021-02-04,광진구,-,기타 확진자 접촉,<b class=''></b>
4,<p class='corona19_no'>24876</p>,80129,2021-02-04,광진구,-,감염경로 조사중,<b class=''></b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>24585</p>,79471,2021-02-03,용산구,-,기타 확진자 접촉,<b class=''></b>
96,<p class='corona19_no'>24584</p>,79397,2021-02-03,용산구,-,기타 확진자 접촉,<b class=''></b>
97,<p class='corona19_no'>24583</p>,79723,2021-02-03,성동구,-,성동구 소재 병원 관련('21.1월),<b class=''></b>
98,<p class='corona19_no'>24582</p>,79096,2021-02-02,기타,-,구로구 소재 교정시설,<b class=''></b>
99,<p class='corona19_no'>24581</p>,79063,2021-02-02,기타,-,구로구 소재 교정시설,<b class=''></b>

In [50]:
def get_multi_page_list(start_page, end_page):
    # 데이터가 제대로 로드 되는지 앞부분 3페이지 정도만 확인하고 전체페이지를 가져오록 합니다.
    
    page_list = []
    for page_no in trange(start_page, end_page + 1):
        one_page = get_seoul_covid19_100(page_no)
        if len(one_page["data"]) > 0:
            one_page = pd.DataFrame(one_page["data"])
            page_list.append(one_page)
            # 서버에 한번에 너무 많은요청을 보내면 서버에 부담이 됩니다.
            # 서버에 부담을 주지 않기 위애 0.5초씩 쉬었다 가져옵니다.
            time.sleep(0.5)
        else:
            # 수집된 값이 없다면 False를 반환합니다.
            # False 반환 시 수집한 리스트를 반환하도록 합니다.
            return page_list
    return page_list

In [51]:
# 따로 설정하지 않으면 end_page 변수에 들어있는 숫자가 마지막 페이지가 됩니다.
end_page

150

In [52]:
# 시작페이지와 끝페이지를 꼭 확인해 주세요.
start_page = 1
# end_page = 88
page_list = get_multi_page_list(start_page, end_page)
# 데이터가 너무 많기 때문에 슬라이싱으로 1개만 미리보기
page_list[:1]

 99%|███████████████████████████████████████████████████████████████████████████████▍| 149/150 [02:17<00:00,  1.09it/s]

[                                   0      1           2     3  4  \
 0   <p class='corona19_no'>24880</p>  80045  2021-02-03   타시도  -
 1   <p class='corona19_no'>24879</p>  79937  2021-02-04   동작구  -
 2   <p class='corona19_no'>24878</p>  80125  2021-02-04  동대문구  -
 3   <p class='corona19_no'>24877</p>  80120  2021-02-04   광진구  -
 4   <p class='corona19_no'>24876</p>  80129  2021-02-04   광진구  -
 ..                               ...    ...         ...   ... ..
 95  <p class='corona19_no'>24785</p>  79953  2021-02-04   타시도  -
 96  <p class='corona19_no'>24784</p>  79791  2021-02-04   관악구  -
 97  <p class='corona19_no'>24783</p>  79793  2021-02-04   관악구  -
 98  <p class='corona19_no'>24782</p>  79872  2021-02-04   강북구  -
 99  <p class='corona19_no'>24781</p>  78128  2021-02-04   강북구  -

                 5                        6
 0        감염경로 조사중         <b class=''></b>
 1       기타 확진자 접촉         <b class=''></b>
 2       기타 확진자 접촉         <b class=''></b>
 3       기타 확진자 접촉         <b class=''></b>
 4        감염경로 조사중         <b class=''></b>
 ..            ...                      ...
 95       감염경로 조사중  <b class='status2'></b>
 96       감염경로 조사중  <b class='status2'></b>
 97       감염경로 조사중  <b class='status2'></b>
 98  중구 소재 콜센터4 관련  <b class='status2'></b>
 99      기타 확진자 접촉  <b class='status2'></b>

 [100 rows x 7 columns]]

In [53]:
# concat을 통해 하나의 데이터프레임으로 합쳐줍니다.
df_all = pd.concat(page_list)
df_all.shape

(14880, 7)

In [54]:
df

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

In [55]:
# read_html 로 읽어온 3번째 테이블의 컬럼명을 수집한 데이터의 컬럼으로 사용합니다.
cols = df.columns.tolist()

In [56]:
df_all.columns = cols

In [57]:
df_all.head()

,연번,환자,확진일,거주지,여행력,접촉력,퇴원현황
0,<p class='corona19_no'>24880</p>,80045,2021-02-03,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>24879</p>,79937,2021-02-04,동작구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>24878</p>,80125,2021-02-04,동대문구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>24877</p>,80120,2021-02-04,광진구,-,기타 확진자 접촉,<b class=''></b>
4,<p class='corona19_no'>24876</p>,80129,2021-02-04,광진구,-,감염경로 조사중,<b class=''></b>

# 데이터 전처리

In [58]:
import re
def extract_number(num_string):
    if type(num_string) == str:
        num_string = num_string.replace("corona19", "")
        num = re.sub("[^0-9]", "", num_string)
        num = int(num)
        return num
    else:
        return num_string

In [59]:
num_string = "<p class='corona19_no'>7625</p>"
extract_number(num_string)

7625

In [60]:
df_all["연번"] = df_all["연번"].map(extract_number)

In [61]:
df_all["연번"].head()

0    24880
1    24879
2    24878
3    24877
4    24876
Name: 연번, dtype: int64

In [62]:
def extract_hangeul(origin_text):
    subtract_text = re.sub("[^가-힣]", "", origin_text)
    return subtract_text

In [63]:
extract_hangeul("<b class='status1'>퇴원</b>")

'퇴원'

In [64]:
extract_hangeul("<b class='status2'>사망</b>")

'사망'

In [65]:
extract_hangeul("<b class=''></b>")

''

In [66]:
# 정규표현식으로 변경하는 방법도 있고 str.contains를 사용하는 방법도 있습니다.
# df_all["퇴원현황"] = df_all["퇴원현황"].map(extract_hangeul)
# df_all["퇴원현황"].value_counts()

In [67]:
df_all["퇴원현황"].value_counts()

<b class='status1'>퇴원</b>    11114
<b class='status1'></b>       2573
<b class=''></b>               873
<b class='status2'>사망</b>      188
<b class='status2'></b>        132
Name: 퇴원현황, dtype: int64

In [69]:
import numpy as np
df_all.loc[df_all["퇴원현황"].str.contains("퇴원"), "퇴원현황"] = "퇴원"
df_all.loc[df_all["퇴원현황"].str.contains("사망"), "퇴원현황"] = "사망"
df_all.loc[~df_all["퇴원현황"].str.contains("퇴원|사망"), "퇴원현황"] = np.nan
df_all["퇴원현황"].value_counts()

퇴원    11114
사망      188
Name: 퇴원현황, dtype: int64

In [70]:
last_date = df_all.iloc[0]["확진일"]
last_date

'2021-02-03'

In [71]:
# 마지막 확진일을 파일명에 써주기 위해 . 을 _ 로 변경합니다.
# 확장자와 구분이 쉽게 되도록 _ 로 변경합니다. 

date = last_date.replace(".", "_")
date

'2021-02-03'

In [72]:
# 파일명을 만들어 줍니다.
# file_name

file_name = f"seoul-covid19-{date}.csv"
file_name

'seoul-covid19-2021-02-03.csv'

In [73]:
# csv 파일로 저장합니다.
df_all.to_csv(file_name, index=False)

In [74]:
# 제대로 저장되었는지 확인합니다.
pd.read_csv(file_name)

          연번     환자         확진일   거주지 여행력             접촉력 퇴원현황
0      24880  80045  2021-02-03   타시도   -        감염경로 조사중  NaN
1      24879  79937  2021-02-04   동작구   -       기타 확진자 접촉  NaN
2      24878  80125  2021-02-04  동대문구   -       기타 확진자 접촉  NaN
3      24877  80120  2021-02-04   광진구   -       기타 확진자 접촉  NaN
4      24876  80129  2021-02-04   광진구   -        감염경로 조사중  NaN
...      ...    ...         ...   ...  ..             ...  ...
14875  10005  37079  2020-12-05   성북구   -      타시도 확진자 접촉   퇴원
14876  10004  36987  2020-12-05   구로구   -       기타 확진자 접촉   퇴원
14877  10003  37010  2020-12-05   노원구   -       기타 확진자 접촉   퇴원
14878  10002  37094  2020-12-05   노원구   -        감염경로 조사중   퇴원
14879  10001  37213  2020-12-05   금천구   -  구로구 소재 보험회사 관련   퇴원

[14880 rows x 7 columns]