In [43]:
import requests
import pandas as pd
import requests
# time.sleep 으로 시차를 두기 위해
import time
# tqdm : 진행상태를 표시하기 위해
from tqdm import trange

In [54]:
url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url
table = pd.read_html(url)
df = table[3]
df.head()

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

In [4]:
# f-string

url1 = "https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw=1"
# url2 = f"{url2}&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc
url1 = f"{url1}&start=100&length=100"
# url2 = "&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1612502263521"
url1

'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw=1&start=100&length=100'

In [5]:
# f-string

url2 = "https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=1"
# url = f"{url}&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc
url2 = f"{url2}&start=0&length=100"
# url"&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1612502263512"
url2

'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=1&start=0&length=100'

In [29]:
response1 = requests.get(url1)
data_json1 = response1.json()
# pd.DataFrame(data_json1["data"])

In [30]:
response2 = requests.get(url2)
data_json2 = response2.json()
# pd.DataFrame(data_json2["data"])

In [31]:
records_total1 = data_json1['recordsTotal']
records_total1

10000

In [32]:
records_total2 = data_json2['recordsTotal']
records_total2

14880

In [34]:
end_page1 = round(records_total1 / 100) + 1
end_page1

101

In [35]:
end_page2 = round(records_total2 / 100) + 1
end_page2

150

In [36]:
data1 = data_json1["data"]
data2 = data_json2["data"]

In [37]:
pd.DataFrame(data1)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>10000</p>,37131,2020-12-05,금천구,-,구로구 소재 보험회사 관련,<b class='status1'>퇴원</b>
1,<p class='corona19_no'>9999</p>,37141,2020-12-05,금천구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
2,<p class='corona19_no'>9998</p>,37541,2020-12-05,송파구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
3,<p class='corona19_no'>9997</p>,37542,2020-12-05,송파구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
4,<p class='corona19_no'>9996</p>,37087,2020-12-05,서초구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>9905</p>,36753,2020-12-04,강남구,-,강남구 소재 요양병원,<b class='status1'>퇴원</b>
96,<p class='corona19_no'>9904</p>,36734,2020-12-04,성동구,-,강남구 소재 요양병원,<b class='status1'>퇴원</b>
97,<p class='corona19_no'>9903</p>,36732,2020-12-04,서초구,-,동작구 사우나 관련,<b class='status1'>퇴원</b>
98,<p class='corona19_no'>9902</p>,36751,2020-12-04,강남구,-,강남구 소재 요양병원,<b class='status1'>퇴원</b>
99,<p class='corona19_no'>9901</p>,36727,2020-12-04,은평구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>

In [38]:
pd.DataFrame(data2)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>24880</p>,80045,2021-02-03,타시도,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>24879</p>,79937,2021-02-04,동작구,-,기타 확진자 접촉,<b class=''></b>
2,<p class='corona19_no'>24878</p>,80125,2021-02-04,동대문구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>24877</p>,80120,2021-02-04,광진구,-,기타 확진자 접촉,<b class=''></b>
4,<p class='corona19_no'>24876</p>,80129,2021-02-04,광진구,-,감염경로 조사중,<b class=''></b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>24785</p>,79953,2021-02-04,타시도,-,감염경로 조사중,<b class='status2'></b>
96,<p class='corona19_no'>24784</p>,79791,2021-02-04,관악구,-,감염경로 조사중,<b class='status2'></b>
97,<p class='corona19_no'>24783</p>,79793,2021-02-04,관악구,-,감염경로 조사중,<b class='status2'></b>
98,<p class='corona19_no'>24782</p>,79872,2021-02-04,강북구,-,중구 소재 콜센터4 관련,<b class='status2'></b>
99,<p class='corona19_no'>24781</p>,78128,2021-02-04,강북구,-,기타 확진자 접촉,<b class='status2'></b>

In [45]:
def get_seoul_covid19_100(page_no):
    """
    page_no : 입력값으로 페이지 번호를 입력하면 해당 번호의 데이터를 가져옴
    start_no : 입력받은 page_no로
    """
    start_no = (page_no - 1) * 100
    url = f"https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw={page_no}"
    url = f"{url}&order%5B0%5D%5Bdir%5D=desc&start={start_no}&length=100"
    response = requests.get(url)
    data_json = response.json()
    return data_json

In [46]:
def get_multi_page_list(start_page, end_page):
    # 데이터가 제대로 로드 되는지 앞부분 3페이지 정도만 확인하고 전체페이지를 가져오록 합니다.
    
    page_list = []
    for page_no in trange(start_page, end_page + 1):
        one_page = get_seoul_covid19_100(page_no)
        if len(one_page["data"]) > 0:
            one_page = pd.DataFrame(one_page["data"])
            page_list.append(one_page)
            # 서버에 한번에 너무 많은요청을 보내면 서버에 부담이 됩니다.
            # 서버에 부담을 주지 않기 위애 0.5초씩 쉬었다 가져옵니다.
            time.sleep(0.5)
        else:
            # 수집된 값이 없다면 False를 반환합니다.
            # False 반환 시 수집한 리스트를 반환하도록 합니다.
            return page_list
    return page_list

In [51]:
# 시작페이지와 끝페이지를 꼭 확인해 주세요.
start_page = 1
# end_page = 88
page_list1 = get_multi_page_list(start_page, end_page1 - 1)
# 데이터가 너무 많기 때문에 슬라이싱으로 1개만 미리보기
page_list1[:1]

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [01:41<00:00,  1.02s/it]

[                                   0      1           2     3  4  \
 0   <p class='corona19_no'>24880</p>  80045  2021-02-03   타시도  -
 1   <p class='corona19_no'>24879</p>  79937  2021-02-04   동작구  -
 2   <p class='corona19_no'>24878</p>  80125  2021-02-04  동대문구  -
 3   <p class='corona19_no'>24877</p>  80120  2021-02-04   광진구  -
 4   <p class='corona19_no'>24876</p>  80129  2021-02-04   광진구  -
 ..                               ...    ...         ...   ... ..
 95  <p class='corona19_no'>24785</p>  79953  2021-02-04   타시도  -
 96  <p class='corona19_no'>24784</p>  79791  2021-02-04   관악구  -
 97  <p class='corona19_no'>24783</p>  79793  2021-02-04   관악구  -
 98  <p class='corona19_no'>24782</p>  79872  2021-02-04   강북구  -
 99  <p class='corona19_no'>24781</p>  78128  2021-02-04   강북구  -

                 5                        6
 0        감염경로 조사중         <b class=''></b>
 1       기타 확진자 접촉         <b class=''></b>
 2       기타 확진자 접촉         <b class=''></b>
 3       기타 확진자 접촉         <b class=''></b>
 4        감염경로 조사중         <b class=''></b>
 ..            ...                      ...
 95       감염경로 조사중  <b class='status2'></b>
 96       감염경로 조사중  <b class='status2'></b>
 97       감염경로 조사중  <b class='status2'></b>
 98  중구 소재 콜센터4 관련  <b class='status2'></b>
 99      기타 확진자 접촉  <b class='status2'></b>

 [100 rows x 7 columns]]

In [48]:
# 시작페이지와 끝페이지를 꼭 확인해 주세요.
start_page = 1
# end_page = 88
page_list2 = get_multi_page_list(start_page, end_page2)
# 데이터가 너무 많기 때문에 슬라이싱으로 1개만 미리보기
page_list2[:1]

 99%|███████████████████████████████████████████████████████████████████████████████▍| 149/150 [02:22<00:00,  1.05it/s]

[                                   0      1           2     3  4  \
 0   <p class='corona19_no'>24880</p>  80045  2021-02-03   타시도  -
 1   <p class='corona19_no'>24879</p>  79937  2021-02-04   동작구  -
 2   <p class='corona19_no'>24878</p>  80125  2021-02-04  동대문구  -
 3   <p class='corona19_no'>24877</p>  80120  2021-02-04   광진구  -
 4   <p class='corona19_no'>24876</p>  80129  2021-02-04   광진구  -
 ..                               ...    ...         ...   ... ..
 95  <p class='corona19_no'>24785</p>  79953  2021-02-04   타시도  -
 96  <p class='corona19_no'>24784</p>  79791  2021-02-04   관악구  -
 97  <p class='corona19_no'>24783</p>  79793  2021-02-04   관악구  -
 98  <p class='corona19_no'>24782</p>  79872  2021-02-04   강북구  -
 99  <p class='corona19_no'>24781</p>  78128  2021-02-04   강북구  -

                 5                        6
 0        감염경로 조사중         <b class=''></b>
 1       기타 확진자 접촉         <b class=''></b>
 2       기타 확진자 접촉         <b class=''></b>
 3       기타 확진자 접촉         <b class=''></b>
 4        감염경로 조사중         <b class=''></b>
 ..            ...                      ...
 95       감염경로 조사중  <b class='status2'></b>
 96       감염경로 조사중  <b class='status2'></b>
 97       감염경로 조사중  <b class='status2'></b>
 98  중구 소재 콜센터4 관련  <b class='status2'></b>
 99      기타 확진자 접촉  <b class='status2'></b>

 [100 rows x 7 columns]]

In [52]:
# concat을 통해 하나의 데이터프레임으로 합쳐줍니다.
df_all1 = pd.concat(page_list1)
df_all2 = pd.concat(page_list2)
print(df_all1.shape, df_all2.shape)

(10000, 7) (14880, 7)

In [55]:
df

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

In [56]:
# read_html 로 읽어온 3번째 테이블의 컬럼명을 수집한 데이터의 컬럼으로 사용합니다.
cols = df.columns.tolist()

In [57]:
df_all1.columns = cols
df_all2.columns = cols

In [61]:
df_all = pd.concat([df_all2, df_all1])

# 데이터 전처리

In [62]:
import re
def extract_number(num_string):
    if type(num_string) == str:
        num_string = num_string.replace("corona19", "")
        num = re.sub("[^0-9]", "", num_string)
        num = int(num)
        return num
    else:
        return num_string

In [63]:
num_string = "<p class='corona19_no'>7625</p>"
extract_number(num_string)

7625

In [64]:
df_all["연번"] = df_all["연번"].map(extract_number)

In [65]:
df_all["연번"].head()

0    24880
1    24879
2    24878
3    24877
4    24876
Name: 연번, dtype: int64

In [66]:
def extract_hangeul(origin_text):
    subtract_text = re.sub("[^가-힣]", "", origin_text)
    return subtract_text

In [67]:
extract_hangeul("<b class='status1'>퇴원</b>")

'퇴원'

In [68]:
extract_hangeul("<b class='status2'>사망</b>")

'사망'

In [69]:
extract_hangeul("<b class=''></b>")

''

In [70]:
# 정규표현식으로 변경하는 방법도 있고 str.contains를 사용하는 방법도 있습니다.
# df_all["퇴원현황"] = df_all["퇴원현황"].map(extract_hangeul)
# df_all["퇴원현황"].value_counts()

In [71]:
df_all["퇴원현황"].value_counts()

<b class='status1'>퇴원</b>    17791
<b class='status1'></b>       4781
<b class=''></b>              1743
<b class='status2'>사망</b>      309
<b class='status2'></b>        256
Name: 퇴원현황, dtype: int64

In [72]:
import numpy as np
df_all.loc[df_all["퇴원현황"].str.contains("퇴원"), "퇴원현황"] = "퇴원"
df_all.loc[df_all["퇴원현황"].str.contains("사망"), "퇴원현황"] = "사망"
df_all.loc[~df_all["퇴원현황"].str.contains("퇴원|사망"), "퇴원현황"] = np.nan
df_all["퇴원현황"].value_counts()

퇴원    17791
사망      309
Name: 퇴원현황, dtype: int64

In [73]:
last_date = df_all.iloc[0]["확진일"]
last_date

'2021-02-03'

In [74]:
# 마지막 확진일을 파일명에 써주기 위해 . 을 _ 로 변경합니다.
# 확장자와 구분이 쉽게 되도록 _ 로 변경합니다. 

date = last_date.replace(".", "_")
date

'2021-02-03'

In [75]:
# 파일명을 만들어 줍니다.
# file_name

file_name = f"seoul-covid19-{date}.csv"
file_name

'seoul-covid19-2021-02-03.csv'

In [76]:
# csv 파일로 저장합니다.
df_all.to_csv(file_name, index=False)

In [77]:
# 제대로 저장되었는지 확인합니다.
pd.read_csv(file_name)

          연번     환자         확진일   거주지 여행력        접촉력 퇴원현황
0      24880  80045  2021-02-03   타시도   -   감염경로 조사중  NaN
1      24879  79937  2021-02-04   동작구   -  기타 확진자 접촉  NaN
2      24878  80125  2021-02-04  동대문구   -  기타 확진자 접촉  NaN
3      24877  80120  2021-02-04   광진구   -  기타 확진자 접촉  NaN
4      24876  80129  2021-02-04   광진구   -   감염경로 조사중  NaN
...      ...    ...         ...   ...  ..        ...  ...
24875  14885  50106  2020-12-20   용산구   -  기타 확진자 접촉   퇴원
24876  14884  50350  2020-12-20   종로구   -  기타 확진자 접촉  NaN
24877  14883  50258  2020-12-20  서대문구   -  기타 확진자 접촉   퇴원
24878  14882  50349  2020-12-20   종로구   -  기타 확진자 접촉   퇴원
24879  14881  50369  2020-12-20  서대문구  독일       해외유입   퇴원

[24880 rows x 7 columns]