# 서울시에서 공개한 코로나19 발생동향 분석

* http://www.seoul.go.kr/coronaV/coronaStatus.do

In [1]:
import requests
import pandas as pd
import requests
# time.sleep 으로 시차를 두기 위해
import time
# tqdm : 진행상태를 표시하기 위해
from tqdm import trange

In [2]:
# 크롤링으로 가져올 url 주소를 입력합니다.

url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url
table = pd.read_html(url)
df = table[3]
df.head()

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

In [3]:
"""
11월 중순 이후 확진자가 증가하면서 데이터 공개 방식이 달라져서 pandas 의 read_html 로는 불러올 수가 없습니다.
기존의 read_html 로는 컬럼명을 불러오고 데이터는 requests 라는 라이브러리를 통해 읽어옵니다.
"""

'\n11월 중순 이후 확진자가 증가하면서 데이터 공개 방식이 달라져서 pandas 의 read_html 로는 불러올 수가 없습니다.\n기존의 read_html 로는 컬럼명을 불러오고 데이터는 requests 라는 라이브러리를 통해 읽어옵니다.\n'

# 11월 중순 이후 데이터 공개방식 변경

In [4]:
# f-string

url1 = "https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw=1"
# url2 = f"{url2}&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc
url1 = f"{url1}&start=100&length=100"
# url2 = "&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1612502263521"
url1

'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw=1&start=100&length=100'

In [5]:
# f-string

url2 = "https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=1"
# url = f"{url}&columns%5B0%5D%5Bdata%5D=0&columns%5B0%5D%5Bname%5D=&columns%5B0%5D%5Bsearchable%5D=true&columns%5B0%5D%5Borderable%5D=true&columns%5B0%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B0%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B1%5D%5Bdata%5D=1&columns%5B1%5D%5Bname%5D=&columns%5B1%5D%5Bsearchable%5D=true&columns%5B1%5D%5Borderable%5D=true&columns%5B1%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B1%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B2%5D%5Bdata%5D=2&columns%5B2%5D%5Bname%5D=&columns%5B2%5D%5Bsearchable%5D=true&columns%5B2%5D%5Borderable%5D=true&columns%5B2%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B2%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B3%5D%5Bdata%5D=3&columns%5B3%5D%5Bname%5D=&columns%5B3%5D%5Bsearchable%5D=true&columns%5B3%5D%5Borderable%5D=true&columns%5B3%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B3%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B4%5D%5Bdata%5D=4&columns%5B4%5D%5Bname%5D=&columns%5B4%5D%5Bsearchable%5D=true&columns%5B4%5D%5Borderable%5D=true&columns%5B4%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B4%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B5%5D%5Bdata%5D=5&columns%5B5%5D%5Bname%5D=&columns%5B5%5D%5Bsearchable%5D=true&columns%5B5%5D%5Borderable%5D=true&columns%5B5%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B5%5D%5Bsearch%5D%5Bregex%5D=false&columns%5B6%5D%5Bdata%5D=6&columns%5B6%5D%5Bname%5D=&columns%5B6%5D%5Bsearchable%5D=true&columns%5B6%5D%5Borderable%5D=true&columns%5B6%5D%5Bsearch%5D%5Bvalue%5D=&columns%5B6%5D%5Bsearch%5D%5Bregex%5D=false&order%5B0%5D%5Bcolumn%5D=0&order%5B0%5D%5Bdir%5D=desc
url2 = f"{url2}&start=0&length=100"
# url"&search%5Bvalue%5D=&search%5Bregex%5D=true&_=1612502263512"
url2

'https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw=1&start=0&length=100'

In [6]:
response1 = requests.get(url1)
data_json1 = response1.json()
pd.DataFrame(data_json1["data"])

,0,1,2,3,4,5,6
0,<p class='corona19_no'>20000</p>,64263,2021-01-02,강서구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
1,<p class='corona19_no'>19999</p>,64264,2021-01-02,노원구,-,감염경로 조사중,<b class='status1'>퇴원</b>
2,<p class='corona19_no'>19998</p>,63457,2021-01-02,마포구,-,감염경로 조사중,<b class='status1'>퇴원</b>
3,<p class='corona19_no'>19997</p>,63569,2021-01-03,광진구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
4,<p class='corona19_no'>19996</p>,64238,2021-01-03,광진구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>19905</p>,63731,2021-01-03,노원구,-,감염경로 조사중,<b class='status1'>퇴원</b>
96,<p class='corona19_no'>19904</p>,63657,2021-01-03,중랑구,-,감염경로 조사중,<b class='status1'>퇴원</b>
97,<p class='corona19_no'>19903</p>,63722,2021-01-03,강서구,-,감염경로 조사중,<b class='status1'>퇴원</b>
98,<p class='corona19_no'>19902</p>,63734,2021-01-03,강서구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
99,<p class='corona19_no'>19901</p>,63727,2021-01-03,노원구,-,감염경로 조사중,<b class='status1'>퇴원</b>

In [7]:
response2 = requests.get(url2)
data_json2 = response2.json()
pd.DataFrame(data_json2["data"])

,0,1,2,3,4,5,6
0,<p class='corona19_no'>28820</p>,91588,2021-03-04,영등포구,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>28819</p>,91613,2021-03-04,영등포구,-,감염경로 조사중,<b class=''></b>
2,<p class='corona19_no'>28818</p>,91611,2021-03-04,광진구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>28817</p>,91606,2021-03-04,광진구,-,감염경로 조사중,<b class=''></b>
4,<p class='corona19_no'>28816</p>,91608,2021-03-04,강북구,-,기타 확진자 접촉,<b class=''></b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>28725</p>,91265,2021-03-04,노원구,-,감염경로 조사중,<b class=''></b>
96,<p class='corona19_no'>28724</p>,91337,2021-03-04,송파구,-,감염경로 조사중,<b class=''></b>
97,<p class='corona19_no'>28723</p>,91333,2021-03-04,송파구,-,기타 확진자 접촉,<b class=''></b>
98,<p class='corona19_no'>28722</p>,91394,2021-03-04,성북구,-,기타 확진자 접촉,<b class=''></b>
99,<p class='corona19_no'>28721</p>,91336,2021-03-04,송파구,-,기타 확진자 접촉,<b class=''></b>

In [8]:
records_total1 = data_json1['recordsTotal']
records_total1

20000

In [9]:
records_total2 = data_json2['recordsTotal']
records_total2

8820

In [10]:
end_page1 = round(records_total1 / 100) + 1
end_page1

201

In [11]:
end_page2 = round(records_total2 / 100) + 1
end_page2

89

In [12]:
data1 = data_json1["data"]
data2 = data_json2["data"]

In [13]:
pd.DataFrame(data1)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>20000</p>,64263,2021-01-02,강서구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
1,<p class='corona19_no'>19999</p>,64264,2021-01-02,노원구,-,감염경로 조사중,<b class='status1'>퇴원</b>
2,<p class='corona19_no'>19998</p>,63457,2021-01-02,마포구,-,감염경로 조사중,<b class='status1'>퇴원</b>
3,<p class='corona19_no'>19997</p>,63569,2021-01-03,광진구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
4,<p class='corona19_no'>19996</p>,64238,2021-01-03,광진구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>19905</p>,63731,2021-01-03,노원구,-,감염경로 조사중,<b class='status1'>퇴원</b>
96,<p class='corona19_no'>19904</p>,63657,2021-01-03,중랑구,-,감염경로 조사중,<b class='status1'>퇴원</b>
97,<p class='corona19_no'>19903</p>,63722,2021-01-03,강서구,-,감염경로 조사중,<b class='status1'>퇴원</b>
98,<p class='corona19_no'>19902</p>,63734,2021-01-03,강서구,-,기타 확진자 접촉,<b class='status1'>퇴원</b>
99,<p class='corona19_no'>19901</p>,63727,2021-01-03,노원구,-,감염경로 조사중,<b class='status1'>퇴원</b>

In [14]:
pd.DataFrame(data2)

,0,1,2,3,4,5,6
0,<p class='corona19_no'>28820</p>,91588,2021-03-04,영등포구,-,감염경로 조사중,<b class=''></b>
1,<p class='corona19_no'>28819</p>,91613,2021-03-04,영등포구,-,감염경로 조사중,<b class=''></b>
2,<p class='corona19_no'>28818</p>,91611,2021-03-04,광진구,-,기타 확진자 접촉,<b class=''></b>
3,<p class='corona19_no'>28817</p>,91606,2021-03-04,광진구,-,감염경로 조사중,<b class=''></b>
4,<p class='corona19_no'>28816</p>,91608,2021-03-04,강북구,-,기타 확진자 접촉,<b class=''></b>
...,...,...,...,...,...,...,...
95,<p class='corona19_no'>28725</p>,91265,2021-03-04,노원구,-,감염경로 조사중,<b class=''></b>
96,<p class='corona19_no'>28724</p>,91337,2021-03-04,송파구,-,감염경로 조사중,<b class=''></b>
97,<p class='corona19_no'>28723</p>,91333,2021-03-04,송파구,-,기타 확진자 접촉,<b class=''></b>
98,<p class='corona19_no'>28722</p>,91394,2021-03-04,성북구,-,기타 확진자 접촉,<b class=''></b>
99,<p class='corona19_no'>28721</p>,91336,2021-03-04,송파구,-,기타 확진자 접촉,<b class=''></b>

In [15]:
def get1_seoul_covid19_100(page_no):
    """
    page_no : 입력값으로 페이지 번호를 입력하면 해당 번호의 데이터를 가져옴
    start_no : 입력받은 page_no로
    """
    start_no = (page_no - 1) * 100
    url = f"https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax_pre.php?draw={page_no}"
    url = f"{url}&order%5B0%5D%5Bdir%5D=desc&start={start_no}&length=100"
    response = requests.get(url)
    data_json = response.json()
    return data_json

In [16]:
def get2_seoul_covid19_100(page_no):
    """
    page_no : 입력값으로 페이지 번호를 입력하면 해당 번호의 데이터를 가져옴
    start_no : 입력받은 page_no로
    """
    start_no = (page_no - 1) * 100
    url = f"https://news.seoul.go.kr/api/27/getCorona19Status/get_status_ajax.php?draw={page_no}"
    url = f"{url}&order%5B0%5D%5Bdir%5D=desc&start={start_no}&length=100"
    response = requests.get(url)
    data_json = response.json()
    return data_json

In [17]:
def get1_multi_page_list(start_page, end_page):
    # 데이터가 제대로 로드 되는지 앞부분 3페이지 정도만 확인하고 전체페이지를 가져오록 합니다.
    
    page_list = []
    for page_no in trange(start_page, end_page + 1):
        one_page = get1_seoul_covid19_100(page_no)
        if len(one_page["data"]) > 0:
            one_page = pd.DataFrame(one_page["data"])
            page_list.append(one_page)
            # 서버에 한번에 너무 많은요청을 보내면 서버에 부담이 됩니다.
            # 서버에 부담을 주지 않기 위애 0.5초씩 쉬었다 가져옵니다.
            time.sleep(0.5)
        else:
            # 수집된 값이 없다면 False를 반환합니다.
            # False 반환 시 수집한 리스트를 반환하도록 합니다.
            return page_list
    return page_list

In [18]:
def get2_multi_page_list(start_page, end_page):
    # 데이터가 제대로 로드 되는지 앞부분 3페이지 정도만 확인하고 전체페이지를 가져오록 합니다.
    
    page_list = []
    for page_no in trange(start_page, end_page + 1):
        one_page = get2_seoul_covid19_100(page_no)
        if len(one_page["data"]) > 0:
            one_page = pd.DataFrame(one_page["data"])
            page_list.append(one_page)
            # 서버에 한번에 너무 많은요청을 보내면 서버에 부담이 됩니다.
            # 서버에 부담을 주지 않기 위애 0.5초씩 쉬었다 가져옵니다.
            time.sleep(0.5)
        else:
            # 수집된 값이 없다면 False를 반환합니다.
            # False 반환 시 수집한 리스트를 반환하도록 합니다.
            return page_list
    return page_list

In [19]:
# 시작페이지와 끝페이지를 꼭 확인해 주세요.
start_page = 1
# end_page = 88
page_list1 = get1_multi_page_list(start_page, end_page1 - 1)
# 데이터가 너무 많기 때문에 슬라이싱으로 1개만 미리보기
page_list1[:1]

100%|████████████████████████████████████████████████████████████████████████████████| 200/200 [03:01<00:00,  1.10it/s]

[                                   0      1           2    3  4          5  \
 0   <p class='corona19_no'>20000</p>  64263  2021-01-02  강서구  -  기타 확진자 접촉
 1   <p class='corona19_no'>19999</p>  64264  2021-01-02  노원구  -   감염경로 조사중
 2   <p class='corona19_no'>19998</p>  63457  2021-01-02  마포구  -   감염경로 조사중
 3   <p class='corona19_no'>19997</p>  63569  2021-01-03  광진구  -  기타 확진자 접촉
 4   <p class='corona19_no'>19996</p>  64238  2021-01-03  광진구  -  기타 확진자 접촉
 ..                               ...    ...         ...  ... ..        ...
 95  <p class='corona19_no'>19905</p>  63731  2021-01-03  노원구  -   감염경로 조사중
 96  <p class='corona19_no'>19904</p>  63657  2021-01-03  중랑구  -   감염경로 조사중
 97  <p class='corona19_no'>19903</p>  63722  2021-01-03  강서구  -   감염경로 조사중
 98  <p class='corona19_no'>19902</p>  63734  2021-01-03  강서구  -  기타 확진자 접촉
 99  <p class='corona19_no'>19901</p>  63727  2021-01-03  노원구  -   감염경로 조사중

                             6
 0   <b class='status1'>퇴원</b>
 1   <b class='status1'>퇴원</b>
 2   <b class='status1'>퇴원</b>
 3   <b class='status1'>퇴원</b>
 4   <b class='status1'>퇴원</b>
 ..                        ...
 95  <b class='status1'>퇴원</b>
 96  <b class='status1'>퇴원</b>
 97  <b class='status1'>퇴원</b>
 98  <b class='status1'>퇴원</b>
 99  <b class='status1'>퇴원</b>

 [100 rows x 7 columns]]

In [20]:
# 시작페이지와 끝페이지를 꼭 확인해 주세요.
start_page = 1
# end_page = 88
page_list2 = get2_multi_page_list(start_page, end_page2)
# 데이터가 너무 많기 때문에 슬라이싱으로 1개만 미리보기
page_list2[:1]

100%|██████████████████████████████████████████████████████████████████████████████████| 89/89 [01:16<00:00,  1.16it/s]

[                                   0      1           2     3  4          5  \
 0   <p class='corona19_no'>28820</p>  91588  2021-03-04  영등포구  -   감염경로 조사중
 1   <p class='corona19_no'>28819</p>  91613  2021-03-04  영등포구  -   감염경로 조사중
 2   <p class='corona19_no'>28818</p>  91611  2021-03-04   광진구  -  기타 확진자 접촉
 3   <p class='corona19_no'>28817</p>  91606  2021-03-04   광진구  -   감염경로 조사중
 4   <p class='corona19_no'>28816</p>  91608  2021-03-04   강북구  -  기타 확진자 접촉
 ..                               ...    ...         ...   ... ..        ...
 95  <p class='corona19_no'>28725</p>  91265  2021-03-04   노원구  -   감염경로 조사중
 96  <p class='corona19_no'>28724</p>  91337  2021-03-04   송파구  -   감염경로 조사중
 97  <p class='corona19_no'>28723</p>  91333  2021-03-04   송파구  -  기타 확진자 접촉
 98  <p class='corona19_no'>28722</p>  91394  2021-03-04   성북구  -  기타 확진자 접촉
 99  <p class='corona19_no'>28721</p>  91336  2021-03-04   송파구  -  기타 확진자 접촉

                    6
 0   <b class=''></b>
 1   <b class=''></b>
 2   <b class=''></b>
 3   <b class=''></b>
 4   <b class=''></b>
 ..               ...
 95  <b class=''></b>
 96  <b class=''></b>
 97  <b class=''></b>
 98  <b class=''></b>
 99  <b class=''></b>

 [100 rows x 7 columns]]

In [21]:
# concat을 통해 하나의 데이터프레임으로 합쳐줍니다.
df_all1 = pd.concat(page_list1)
df_all2 = pd.concat(page_list2)
print(df_all2.shape, df_all1.shape)

(8820, 7) (20000, 7)

In [22]:
df

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

In [23]:
# read_html 로 읽어온 3번째 테이블의 컬럼명을 수집한 데이터의 컬럼으로 사용합니다.
cols = df.columns.tolist()

In [24]:
df_all1.columns = cols
df_all2.columns = cols

# 데이터 합치기

In [25]:
df_all = pd.concat([df_all2, df_all1])

# 데이터 전처리

In [26]:
import re
def extract_number(num_string):
    if type(num_string) == str:
        num_string = num_string.replace("corona19", "")
        num = re.sub("[^0-9]", "", num_string)
        num = int(num)
        return num
    else:
        return num_string

In [27]:
num_string = "<p class='corona19_no'>7625</p>"
extract_number(num_string)

7625

In [28]:
df_all["연번"] = df_all["연번"].map(extract_number)

In [29]:
df_all["연번"].head()

0    28820
1    28819
2    28818
3    28817
4    28816
Name: 연번, dtype: int64

In [30]:
def extract_hangeul(origin_text):
    subtract_text = re.sub("[^가-힣]", "", origin_text)
    return subtract_text

In [31]:
extract_hangeul("<b class='status1'>퇴원</b>")

'퇴원'

In [32]:
extract_hangeul("<b class='status2'>사망</b>")

'사망'

In [33]:
extract_hangeul("<b class=''></b>")

''

In [34]:
# 정규표현식으로 변경하는 방법도 있고 str.contains를 사용하는 방법도 있습니다.
# df_all["퇴원현황"] = df_all["퇴원현황"].map(extract_hangeul)
# df_all["퇴원현황"].value_counts()

In [35]:
df_all["퇴원현황"].value_counts()

<b class='status1'>퇴원</b>    24844
<b class='status1'></b>       2826
<b class=''></b>               609
<b class='status2'>사망</b>      389
<b class='status2'></b>        152
Name: 퇴원현황, dtype: int64

In [36]:
import numpy as np
df_all.loc[df_all["퇴원현황"].str.contains("퇴원"), "퇴원현황"] = "퇴원"
df_all.loc[df_all["퇴원현황"].str.contains("사망"), "퇴원현황"] = "사망"
df_all.loc[~df_all["퇴원현황"].str.contains("퇴원|사망"), "퇴원현황"] = np.nan
df_all["퇴원현황"].value_counts()

퇴원    24844
사망      389
Name: 퇴원현황, dtype: int64

In [37]:
last_date = df_all.iloc[0]["확진일"]
last_date

'2021-03-04'

In [38]:
# 마지막 확진일을 파일명에 써주기 위해 . 을 _ 로 변경합니다.
# 확장자와 구분이 쉽게 되도록 _ 로 변경합니다. 

date = last_date.replace(".", "_")
date

'2021-03-04'

In [39]:
# 파일명을 만들어 줍니다.
# file_name

file_name = f"realtime-seoul-covid19-{date}.csv"
file_name

'realtime-seoul-covid19-2021-03-04.csv'

In [40]:
# csv 파일로 저장합니다.
df_all.to_csv(file_name, index=False)

In [41]:
# 제대로 저장되었는지 확인합니다.
pd.read_csv(file_name)

          연번     환자         확진일   거주지 여행력        접촉력 퇴원현황
0      28820  91588  2021-03-04  영등포구   -   감염경로 조사중  NaN
1      28819  91613  2021-03-04  영등포구   -   감염경로 조사중  NaN
2      28818  91611  2021-03-04   광진구   -  기타 확진자 접촉  NaN
3      28817  91606  2021-03-04   광진구   -   감염경로 조사중  NaN
4      28816  91608  2021-03-04   강북구   -  기타 확진자 접촉  NaN
...      ...    ...         ...   ...  ..        ...  ...
28815      5      9  2020-01-31   마포구   -  기타 확진자 접촉   퇴원
28816      4      7  2020-01-30   종로구  중국       해외유입   퇴원
28817      3      6  2020-01-30   중랑구   -   종로구 집단발병   퇴원
28818      2      5  2020-01-30   강서구  중국       해외유입   퇴원
28819      1      2  2020-01-24   강서구  중국       해외유입   퇴원

[28820 rows x 7 columns]